---
import type { CollectionEntry } from 'astro:content';
import { render } from 'astro:content';
import { Image } from 'astro:assets';

import { formatDate } from '@/lib/utils';

interface Props {
  entry: CollectionEntry<'projects'>;
}

const { entry } = Astro.props;
const { remarkPluginFrontmatter } = await render(entry);
---

<li>
  <div class="flex gap-4 items-center">
    {
      entry.data.image && (
        <Image
          src={entry.data.image}
          alt={entry.data.title}
          class="object-cover w-15 h-15 rounded-full shadow"
        />
      )
    }
    <a href={`/projects/${entry.id}/`} class="grow">
      <div class="text-headings font-medium">{entry.data.title}</div>
      <div class="text-muted-foreground text-sm">
        {formatDate(entry.data.date)} ({remarkPluginFrontmatter.minutesRead})
      </div>
    </a>
  </div>
</li>

